[Unit]
Description=Lenovo LOQ & RTX 4060 Power & Smooth Gaming Optimizer
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "nvidia-smi -pm 1 2>/dev/null; for g in /sys/devices/system/cpu/cpu*/cpufreq/energy_performance_preference; do echo balance_performance > \$g 2>/dev/null; done"

[Install]
WantedBy=multi-user.target
