[Unit]
Description=Lenovo LOQ Dynamic Profile & Hardware Thermal Manager (Blue/White/Red/Purple)
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/local/bin/lenovo-profile-manager.sh

[Install]
WantedBy=multi-user.target
