[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ChatGPT
Exec=/opt/microsoft/msedge/microsoft-edge --profile-directory=Default --app-id=cadlkienfkclaiaibeoongdcgmdikeeg --app-url=https://chatgpt.com/
Icon=msedge-cadlkienfkclaiaibeoongdcgmdikeeg-Default
StartupWMClass=crx__cadlkienfkclaiaibeoongdcgmdikeeg
